*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "side header"
    "side main";
}

.header{
    background-color:#fcfcfc;
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "top-sec"
    "bottom-sec";
}

.header .top-sec{
    padding: 20px 0 0 25px;
    grid-area: top-sec;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1;
}

.header .top-sec .left{
    color: rgb(58, 58, 58);
    

    & input[type = search]{
        border-radius: 50px;
        width: 500px;
        height: 30px;
        border: none;
        background-color: #ede9fe;
    
    }

    & i {
        padding-right: 20px;
    }
}

.header .top-sec .right{
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    grid-template-rows: 1fr;

    & img{
        border-radius: 50%;
        width: 40px;
    }
}

.header .bottom-sec{
    grid-area: bottom-sec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    & img{
        border-radius: 50%;
        width: 70px;
    }
}

.header .bottom-sec .left{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.side-bar{
    overflow: hidden;
    background-color: #c4b5fd;
    grid-area: side;
}

.sidebar-title{
   
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
}

.sidebar-title h2{
    align-self: center;
    font-size: 25px;
}

.sidebar-title i{
    font-size: 40px;
}

.side-bar .links{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    "sec1"
    "sec2";
    gap: 50px;
}

.side-bar .links .sidebar-sec1{
    grid-area: sec1;
    padding: 25px 0 0 25px ;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}
.side-bar .links .sidebar-sec2{
    grid-area: sec2;
    padding: 25px 0 0 25px ;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}





.main{
    background-color: #ede9fe;
}

