*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "side header"
    "side main";
}

.header{
    padding:25px 30px 20px 25px;
    background-color:#fcfcfc;
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "top-sec"
    "bottom-sec";

    box-shadow: 5px 0 black ;
}

.header .top-sec{
    
    grid-area: top-sec;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1;
}

.header .top-sec .left{
    color: rgb(58, 58, 58);
    

    & input[type = search]{
        border-radius: 50px;
        width: 500px;
        height: 30px;
        border: none;
        background-color: #ede9fe;
    
    }

    & i {
        padding-right: 20px;
    }
}

.header .top-sec .right{
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    grid-template-rows: 1fr;

    & img{
        border-radius: 50%;
        width: 50px;
    }

    & p,
    i {
        font-size: 1.1rem;
        align-self: center;
        padding-bottom: 20px;
        font-weight: bolder;
    }
}

.header .bottom-sec{
    grid-area: bottom-sec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
   
}

.header .bottom-sec .left{
    display: grid;
    grid-template-columns: 0.5fr 2fr;

    & .greeting{
        align-self: center;
    } 
    & img{
        
        border-radius: 50%;
        width: 70px;
    }
}

.header .bottom-sec .right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 50px;

    & button{
        background-color: #c4b5fd;
        color: #fcfcfc;
        font-size: 1rem;
        font-weight: bolder;
        border: none;
        border-radius: 50px;
        height: 45px;
    }

}
.side-bar{
    overflow: hidden;
    background-color: #c4b5fd;
    grid-area: side;
}

.sidebar-title{
   
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
}

.sidebar-title h2{
    align-self: center;
    font-size: 25px;
}

.sidebar-title i{
    font-size: 40px;
}

.side-bar .links{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    "sec1"
    "sec2";
    gap: 50px;
}

.side-bar .links .sidebar-sec1{
    grid-area: sec1;
    padding: 25px 0 0 25px ;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}
.side-bar .links .sidebar-sec2{
    grid-area: sec2;
    padding: 25px 0 0 25px ;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}





.main{
    background-color: #ede9fe;
    padding: 25px 20px 0 25px ;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "projects right"
    "projects right";
    gap: 20px;
}

.projects .pro-title{
    padding-left: 18px;
}

.main .cards{
    grid-area: projects;
    padding: 10px 20px 0 8px ;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px , 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;

}

.main .cards .card{
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 20px;
    text-overflow: ellipsis;
    box-shadow: 3px 3px 10px rgb(158, 158, 158) ;
  

    & p,
    i{
        color: rgba(0, 0, 0 , 0.8);
    }

    position: relative;
    
}

.card::before{
    content: "";
    background-color: #fbbf24;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
}

.icons{
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 10px;
}


.right-main img{
width: 60px;
height: auto;
}
